<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/styles.css">


    <!-- Font Family -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">


</head>

<body>
    <div class="sidebar">
        <div class="logo-details">
            <i class='bx bxl-trello'></i>
            <span class="logo-name">TMS</span>
        </div>
        <ul class="nav-links">
            <li>

                <a href="/">
                    <i class='bx bxs-grid-alt'></i>
                    <span class="link-name">Dashboard</span>
                </a>
            </li>
            <li>

                <a href="/projects">
                    <i class='bx bxs-folder-open'></i>
                    <span class="link-name">Projects</span>
                </a>
            </li>
            <li>

                <a href="/subject">
                    <i class='bx bxs-book-alt'></i>
                    <span class="link-name">Subject</span>
                </a>
            </li>
            <li>

                <a href="/person">
                    <i class='bx bxs-group'></i>
                    <span class="link-name">Person</span>
                </a>
            </li>
            <li>

                <a href="/journal">
                    <i class='bx bxs-book-alt'></i>
                    <span class="link-name">Journal</span>
                </a>
            </li>
            <li>

                <a href="/thoughtboard">
                    <i class='bx bxs-brain'></i>
                    <span class="link-name">Thoughtboard</span>
                </a>
            </li>

            <li>

                <a href="/syllabus">
                    <i class='bx bxs-book-bookmark'></i>
                    <span class="link-name">Syllabus</span>
                </a>
            </li>
            <li>

                <a href="/todolist">
                    <i class='bx bx-task'></i>
                    <span class="link-name">Todolist</span>
                </a>
            </li>
            <li class="logout">

                <a href="#">
                    <i class='bx bxs-log-out'></i>
                    <span class="link-name">Logout</span>
                </a>
            </li>
        </ul>
    </div>