<%- include('partials/sidebar') -%>
    <section class="home-section">
        <nav>
            <span class="dashboard">Journal</span>
        </nav>
    </section>

    <%- include('partials/footer') -%>